/* Reset */
@import url(./reset.css);
/* Variables */
@import url(./variable.css);
/* Utilities */
@import url(./utilities.css);
/* Typography */
@import url(./typography.css);

/* Global */
body {
   background-color: var(--color-black);
   color: var(--color-grey);
}
h1,
h2,
h3,
a,
button,
[role='button'] {
   color: var(--color-white);
}
.container {
   width: 90%;
   padding-inline: 0;
}
@media (min-width: 576px) {
   .container {
      width: 75%;
   }
}
@media (min-width: 768px) {
   .container {
      width: 100%;
   }
}
@media (min-width: 1200px) {
   .container {
      max-width: 1110px;
   }
}
@media (min-width: 1600px) {
   .container {
      max-width: 1320px;
   }
}

/* Component- Logo */
.logo {
   font-size: 1.5rem;
   font-weight: var(--fw-bold);
   line-height: 1;
   letter-spacing: -0.02777775rem;
}
/* Component - Social links */
.social-list {
   line-height: 0;
}
.social-links {
   width: 1.25rem;
   height: 1.25rem;
}
/* Component - Social links */
button,
[role='button'] {
   padding-block: 0.625rem;
   border-bottom: 2px solid var(--color-green);
}
@media (min-width: 768px) {
   .logo {
      font-size: 2rem;
      letter-spacing: -0.02777775rem;
   }
   .social-links {
      width: 1.5rem;
      height: 1.5rem;
   }
}

/* Header */
@media (min-width: 768px) {
   .header .container {
      padding-top: 1.75rem;
   }
}
@media (min-width: 1200px) {
   .header .container {
      padding-top: 2.5rem;
      padding-inline: 1rem;
   }
}

/* Hero section */
.decor::after {
   content: url(../assets/images/pattern-rings.svg);
   position: absolute;
}
.hero .decor::after {
   top: 124px;
   right: 50%;
}
.hero__content {
   padding-block: 2.5rem 5rem;
}
.hero__content h1 {
   max-width: 360px;
   margin-inline: auto;
}
.hero__content-highlight::after {
   content: '';
   position: absolute;
   bottom: 0.125rem;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 0.25rem;
   background-color: var(--color-green);
}
.hero__content p {
   padding-block: 1.5rem 0.75rem;
}
.hero__profile-pic {
   width: 174px;
   height: 383px;
}
.hero__profile-pic::before {
   content: '';
   position: absolute;
   bottom: 0;
   right: calc(-129px - 36px);
   width: 129px;
   height: 129px;
   border: 1px solid var(--color-white);
   border-radius: 9999px;
}
@media (min-width: 768px) {
   .hero .decor::after {
      top: 86px;
      left: -265px;
   }
   .hero__profile-pic {
      width: 322px;
      height: 600px;
   }
   .hero__profile-pic::before {
      right: 0;
      transform: translateX(50%);
   }
   .hero__content {
      padding-block: 9.375rem 3.75rem;
   }
   .hero__content h1,
   .hero__content p {
      max-width: 27.8125rem;
   }
   .hero__content p {
      padding-block: 3.75rem 1.5rem;
   }
}
@media (min-width: 1200px) {
   .hero .decor::after {
      top: 133px;
      left: -100px;
   }
   .hero__profile-pic {
      width: 445px;
      height: 720px;
   }
   .hero__profile-pic::before {
      bottom: 70px;
      left: 0;
      transform: translateX(-50%);
   }
   .hero__content {
      padding-block: 12.375rem 13.75rem;
   }
   .hero__content h1 {
      max-width: 50rem;
   }
   .hero__content-highlight::after {
      height: 0.375rem;
   }
}

/* Skills Section */
.skills .decor::after {
   left: 50%;
   bottom: 0;
   transform: translateY(50%);
}
.skills .container {
   padding-block: 2.5rem;
}
.skills__skill-name {
   font-size: 2rem;
   font-weight: var(--fw-bold);
   line-height: 1.1667;
   letter-spacing: -0.09375rem;
   color: var(--color-white);
}
.skills__skill-experience {
   font-size: 1rem;
   font-weight: var(--fw-medium);
   line-height: 1.556;
}
@media (min-width: 768px) {
   .skills .decor::after {
      left: unset;
      right: -350px;
   }
   .skills .container {
      padding-block: 3.25rem 0;
   }
   .skills__skill-name {
      font-size: 3rem;
   }
   .skills__skill-experience {
      font-size: 1.125rem;
      margin-top: 0.875rem;
   }
}
@media (min-width: 1200px) {
   .skills .decor::after {
      right: -240px;
   }
   .skills .container {
      padding-block: 4.5rem 0;
   }
}
