/* Reset */
@import url(./reset.css);
/* Variables */
@import url(./variable.css);
/* Utilities */
@import url(./utilities.css);
/* Typography */
@import url(./typography.css);

/* Global */
body {
   background-color: var(--color-black);
   color: var(--color-grey);
}
h1,
h2,
h3,
a,
button,
input,
textarea,
[role='button'] {
   color: var(--color-white);
}
h3 > a,
button,
[role='button'] {
   text-transform: uppercase;
}
[role='button'] {
   width: fit-content;
   height: fit-content;
}
.container {
   width: 92%;
   padding-inline: 0;
}
@media (min-width: 576px) {
   .container {
      width: 75%;
   }
}
@media (min-width: 768px) {
   .container {
      width: 100%;
   }
}
@media (min-width: 1200px) {
   .container {
      max-width: 1110px;
   }
}
@media (min-width: 1600px) {
   .container {
      max-width: 1320px;
   }
}

/* Component- Logo */
.logo {
   font-size: 1.5rem;
   font-weight: var(--fw-bold);
   line-height: 1;
   letter-spacing: -0.0278rem;
}
/* Component - Social links */
.social-list {
   line-height: 0;
}
.social-links {
   width: 1.25rem;
   height: 1.25rem;
}
/* Component - Social links */
button,
[role='button'] {
   padding-block: 0.625rem;
   border-bottom: 2px solid var(--color-green);
}
@media (min-width: 768px) {
   .logo {
      font-size: 2rem;
      letter-spacing: -0.0278rem;
   }
   .social-links {
      width: 1.5rem;
      height: 1.5rem;
   }
}

/* Header */
@media (min-width: 768px) {
   .header .container {
      padding-top: 1.75rem;
   }
}
@media (min-width: 1200px) {
   .header .container {
      padding-top: 2.5rem;
      padding-inline: 1rem;
   }
}

/* Hero section */
.decor::after {
   content: url(../assets/images/pattern-rings.svg);
   position: absolute;
}
.hero .decor::after {
   top: 124px;
   right: 50%;
}
.hero__content {
   padding-block: 2.5rem 5rem;
}
.hero__content h1 {
   max-width: 360px;
   margin-inline: auto;
}
.hero__content-highlight::after {
   content: '';
   position: absolute;
   bottom: 0.125rem;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 0.25rem;
   background-color: var(--color-green);
}
.hero__content p {
   padding-block: 1.5rem 0.75rem;
}
.hero__profile-pic {
   width: 174px;
   height: 383px;
}
.hero__profile-pic::before {
   content: '';
   position: absolute;
   bottom: 0;
   right: calc(-129px - 36px);
   width: 129px;
   height: 129px;
   border: 1px solid var(--color-white);
   border-radius: 9999px;
}
@media (min-width: 768px) {
   .hero .decor::after {
      top: 86px;
      left: -265px;
   }
   .hero__profile-pic {
      width: 322px;
      height: 600px;
   }
   .hero__profile-pic::before {
      right: 0;
      transform: translateX(50%);
   }
   .hero__content {
      padding-block: 9.375rem 3.75rem;
   }
   .hero__content h1,
   .hero__content p {
      max-width: 27.8125rem;
   }
   .hero__content p {
      padding-block: 3.75rem 1.5rem;
   }
}
@media (min-width: 1200px) {
   .hero .decor::after {
      top: 133px;
      left: -100px;
   }
   .hero__profile-pic {
      width: 445px;
      height: 720px;
   }
   .hero__profile-pic::before {
      bottom: 70px;
      left: 0;
      transform: translateX(-50%);
   }
   .hero__content {
      padding-block: 12.375rem 13.75rem;
   }
   .hero__content h1 {
      max-width: 50rem;
   }
   .hero__content-highlight::after {
      height: 0.375rem;
   }
}

/* Skills Section */
.skills .decor::after {
   left: 50%;
   bottom: 0;
   transform: translateY(50%);
}
.skills .container {
   padding-block: 2.5rem;
}
.skills__skill-name {
   font-size: 2rem;
   font-weight: var(--fw-bold);
   line-height: 1.1667;
   letter-spacing: -0.09375rem;
   color: var(--color-white);
}
.skills__skill-experience {
   font-size: 1rem;
   font-weight: var(--fw-medium);
   line-height: 1.556;
}
@media (min-width: 768px) {
   .skills .decor::after {
      left: unset;
      right: -350px;
   }
   .skills .container {
      padding-block: 3.25rem 0;
   }
   .skills__skill-name {
      font-size: 3rem;
   }
   .skills__skill-experience {
      font-size: 1.125rem;
      margin-top: 0.875rem;
   }
}
@media (min-width: 1200px) {
   .skills .decor::after {
      right: -240px;
   }
   .skills .container {
      padding-block: 4.5rem 0;
   }
}

/* Projects Section */
.projects .container {
   padding-block: 5rem;
}
.projects__list {
   padding-top: 2.5rem;
   row-gap: 2.5rem;
   column-gap: 1.5rem;
}
.projects__project {
   height: 24.875rem;
}
.projects__project picture {
   max-width: 21.375rem;
   height: 15.8125rem;
}
.projects__project-buttons {
   column-gap: 1.875rem;
}
.projects__project h3 {
   margin-block: 1.25rem 0.4375rem;
}
.projects-project-skills-list {
   column-gap: 1.125rem;
}
@media (min-width: 768px) {
   .projects .container {
      padding-block: 6.25rem;
   }
   .projects__list {
      padding-top: 3.75rem;
   }
}
@media (min-width: 1200px) {
   .projects .container {
      padding-block: 8.75rem;
   }
   .projects__list {
      padding-top: 5rem;
      row-gap: 3.75rem;
   }
   .projects__project {
      height: auto;
   }
   .projects__project picture {
      max-width: 33.75rem;
      height: 25rem;
   }
   .projects__project-buttons {
      row-gap: 3rem;
      background-color: black;
      opacity: 0.75;
      visibility: hidden;
   }
   .projects__project-preview:hover .projects__project-buttons {
      visibility: visible;
   }
}
@media (min-width: 1600px) {
   .projects__list {
      column-gap: 3.75rem;
   }
}

/* Contact Section */
section.contact {
   background-color: var(--color-dk-grey);
}
.contact .decor::after {
   right: 50%;
   bottom: 96px;
}
.contact .container {
   padding-block: 3.75rem 5.5rem;
}
.contact__title {
   max-width: 27.8125rem;
}
.contact__title p {
   margin-block: 1.25rem 3rem;
}
.contact__form {
   row-gap: 2rem;
}
.contact__form textarea {
   height: 6.6875rem;
}
.contact__form input,
.contact__form textarea {
   line-height: 1.625;
   letter-spacing: -0.0138rem;
   padding-left: 1.5rem;
   padding-bottom: 1rem;
}
.contact__form input::placeholder,
.contact__form textarea::placeholder {
   text-transform: uppercase;
}
@media (min-width: 768px) {
   .contact .decor::after {
      left: -368px;
      bottom: 28px;
   }
   .contact .container {
      padding-block: 5rem 5.75rem;
   }
   .contact__form {
      width: 27.8125rem;
   }
}
@media (min-width: 768px) {
   .contact .decor::after {
      left: -205px;
      bottom: 48px;
   }
}
/* Errors & valid */
.error {
   position: relative;
}
.error input {
   border-color: var(--color-error) !important;
}
.error input::placeholder {
   color: var(--color-error);
   opacity: 0.75;
}
.error .error-icon {
   position: absolute;
   top: 0;
   right: 0;
}
.error .error-msg {
   position: absolute;
   top: 100%;
   right: 0;
   margin-top: 0.3125rem;
   color: var(--color-error);
   font-size: 0.75rem;
   line-height: 1.333;
   letter-spacing: -0.01rem;
}
.valid input {
   border-color: var(--color-green) !important;
}
