:root {
   /* Colors */
   --color-black: #151515;
   --color-green: #4ee1a0;
   --color-dk-grey: #242424;
   --color-grey: #d9d9d9;
   --color-white: #ffffff;
   --color-error: #ff6f5b;
   /* Fonts */
   --ff-main: 'Space Grotesk', sans-serif;
   --fw-medium: 500;
   --fw-bold: 700;
}
