<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta
         name="description"
         content="This is a solution to Single-page developer portfolio challenge on Frontend Mentor. 
        The purpose of this challenge is to improve my coding skills by building realistic projects." />
      <title>Single-page developer portfolio | Frontend Mentor</title>
   </head>

   <body>
      <!-- Header -->
      <header class="header position-absolute top-0 w-100 z-index-1000">
         <div
            class="container d-flex flex-column flex-md-row align-items-center justify-content-md-between pt-4 gap-4">
            <a href="#" class="logo">adamkeyes</a>
            <ul class="social-list d-flex align-items-center gap-4">
               <li>
                  <a href="#" class="social-links">
                     <img
                        class="w-100"
                        src="../assets/images/icon-github.svg"
                        alt="Github profile" />
                  </a>
               </li>
               <li>
                  <a href="#" class="social-links">
                     <img
                        class="w-100"
                        src="../assets/images/icon-frontend-mentor.svg"
                        alt="Frontend Mentor profile" />
                  </a>
               </li>
               <li>
                  <a href="#" class="social-links">
                     <img
                        class="w-100"
                        src="../assets/images/icon-linkedin.svg"
                        alt="Linkedin profile" />
                  </a>
               </li>
               <li>
                  <a href="#" class="social-links">
                     <img
                        class="w-100"
                        src="../assets/images/icon-twitter.svg"
                        alt="Twitter profile" />
                  </a>
               </li>
            </ul>
         </div>
      </header>

      <main class="overflow-hidden">
         <!-- Hero Section -->
         <section class="hero position-relative">
            <div
               class="decor position-absolute absolute-center z-index-n1 w-100 max-w h-100"></div>
            <div class="container position-xl-relative">
               <div
                  class="hero__profile-pic mx-auto position-md-absolute top-md-0 right-md-0 z-index-n1">
                  <picture class="w-100 h-100 overflow-hidden">
                     <source
                        media="(min-width: 75em)"
                        srcset="../assets/images/image-profile-desktop.webp" />
                     <source
                        media="(min-width: 48em)"
                        srcset="../assets/images/image-profile-tablet.webp" />
                     <img
                        src="../assets/images/image-profile-mobile.webp"
                        alt="Adam Keyes profile image"
                        class="w-100 h-100" />
                  </picture>
               </div>

               <div class="hero__content text-center text-md-start">
                  <h1 class="mx-md-0">
                     Nice to
                     <span class="d-md-block d-xl-inline-block"></span> meet
                     you! I’m
                     <span class="hero__content-highlight position-relative"
                        >Adam Keyes</span
                     >.
                  </h1>
                  <p>
                     Based in the UK, I’m a front-end developer passionate about
                     building accessible web apps that users love.
                  </p>
                  <a href="#" role="button" class="text-uppercase">
                     Contact Me
                  </a>
               </div>
            </div>
         </section>

         <!-- Skills Section -->
         <section class="skills position-relative">
            <div
               class="decor position-absolute absolute-center z-index-n1 w-100 max-w h-100"></div>
            <div class="container border-top border-white">
               <ul
                  class="skills__list row text-center text-md-start gy-4 gy-md-6">
                  <li class="skills__skill col-md-6 col-xl-4">
                     <span class="skills__skill-name">HTML</span>
                     <span class="skills__skill-experience d-block">
                        4 Years Experience
                     </span>
                  </li>
                  <li class="skills__skill col-md-6 col-xl-4">
                     <span class="skills__skill-name">CSS</span>
                     <span class="skills__skill-experience d-block">
                        4 Years Experience
                     </span>
                  </li>
                  <li class="skills__skill col-md-6 col-xl-4">
                     <span class="skills__skill-name">Javascript</span>
                     <span class="skills__skill-experience d-block">
                        4 Years Experience
                     </span>
                  </li>
                  <li class="skills__skill col-md-6 col-xl-4">
                     <span class="skills__skill-name">Accessibility</span>
                     <span class="skills__skill-experience d-block">
                        4 Years Experience
                     </span>
                  </li>
                  <li class="skills__skill col-md-6 col-xl-4">
                     <span class="skills__skill-name">React</span>
                     <span class="skills__skill-experience d-block">
                        3 Years Experience
                     </span>
                  </li>
                  <li class="skills__skill col-md-6 col-xl-4">
                     <span class="skills__skill-name">Sass</span>
                     <span class="skills__skill-experience d-block">
                        3 Years Experience
                     </span>
                  </li>
               </ul>
            </div>
         </section>

         <!-- Projects Section -->
         <section class="projects">
            <div class="container border-top border-white border-md-0">
               <div
                  class="projects__heade d-flex justify-content-between flex-wrap gap-2">
                  <h2>Projects</h2>
                  <a
                     href="#"
                     role="button"
                     class="text-uppercase flex-shrink-0">
                     Contact Me
                  </a>
               </div>
               <!-- Projects -->
               <ol
                  class="projects__list d-flex flex-wrap justify-content-center">
                  <!-- Project -->
                  <li class="projects__project position-relative">
                     <div
                        class="projects__project-preview position-xl-relative">
                        <picture class="w-100">
                           <img
                              src="../assets/images/thumbnail-project-1-large.webp"
                              alt="Design portfolio preview"
                              class="w-100 h-100 object-fit-cover" />
                        </picture>
                        <div
                           class="projects__project-buttons d-flex position-absolute bottom-0 top-xl-0 area-xl-100 flex-xl-column justify-content-center align-items-center">
                           <a href="#" role="button" class="text-uppercase">
                              View Project
                           </a>
                           <a href="#" role="button" class="text-uppercase">
                              View Code
                           </a>
                        </div>
                     </div>
                     <h3 class="text-uppercase">
                        <a href="#">Design portfolio</a>
                     </h3>
                     <ul class="projects-project-skills-list d-flex">
                        <li class="projects-project-skill-name">HTML</li>
                        <li class="projects-project-skill-name">CSS</li>
                     </ul>
                  </li>
                  <!-- Project -->
                  <li class="projects__project position-relative">
                     <div
                        class="projects__project-preview position-xl-relative">
                        <picture class="w-100">
                           <img
                              src="../assets/images/thumbnail-project-2-large.webp"
                              alt="E-learning Landing Page preview"
                              class="w-100 h-100 object-fit-cover" />
                        </picture>
                        <div
                           class="projects__project-buttons d-flex position-absolute bottom-0 top-xl-0 area-xl-100 flex-xl-column justify-content-center align-items-center">
                           <a href="#" role="button" class="text-uppercase">
                              View Project
                           </a>
                           <a href="#" role="button" class="text-uppercase">
                              View Code
                           </a>
                        </div>
                     </div>
                     <h3 class="text-uppercase">
                        <a href="#">E-learning Landing Page</a>
                     </h3>
                     <ul class="projects-project-skills-list d-flex">
                        <li class="projects-project-skill-name">HTML</li>
                        <li class="projects-project-skill-name">CSS</li>
                     </ul>
                  </li>
                  <!-- Project -->
                  <li class="projects__project position-relative">
                     <div
                        class="projects__project-preview position-xl-relative">
                        <picture class="w-100">
                           <img
                              src="../assets/images/thumbnail-project-3-large.webp"
                              alt="TODO Web App preview"
                              class="w-100 h-100 object-fit-cover" />
                        </picture>
                        <div
                           class="projects__project-buttons d-flex position-absolute bottom-0 top-xl-0 area-xl-100 flex-xl-column justify-content-center align-items-center">
                           <a href="#" role="button" class="text-uppercase">
                              View Project
                           </a>
                           <a href="#" role="button" class="text-uppercase">
                              View Code
                           </a>
                        </div>
                     </div>
                     <h3 class="text-uppercase">
                        <a href="#">TODO Web App</a>
                     </h3>
                     <ul class="projects-project-skills-list d-flex">
                        <li class="projects-project-skill-name">HTML</li>
                        <li class="projects-project-skill-name">CSS</li>
                        <li class="projects-project-skill-name">JavaScript</li>
                     </ul>
                  </li>
                  <!-- Project -->
                  <li class="projects__project position-relative">
                     <div
                        class="projects__project-preview position-xl-relative">
                        <picture class="w-100">
                           <img
                              src="../assets/images/thumbnail-project-4-large.webp"
                              alt="Entertainment web application preview"
                              class="w-100 h-100 object-fit-cover" />
                        </picture>
                        <div
                           class="projects__project-buttons d-flex position-absolute bottom-0 top-xl-0 area-xl-100 flex-xl-column justify-content-center align-items-center">
                           <a href="#" role="button" class="text-uppercase">
                              View Project
                           </a>
                           <a href="#" role="button" class="text-uppercase">
                              View Code
                           </a>
                        </div>
                     </div>
                     <h3 class="text-uppercase">
                        <a href="#">Entertainment Web App</a>
                     </h3>
                     <ul class="projects-project-skills-list d-flex">
                        <li class="projects-project-skill-name">HTML</li>
                        <li class="projects-project-skill-name">CSS</li>
                        <li class="projects-project-skill-name">JavaScript</li>
                     </ul>
                  </li>
                  <!-- Project -->
                  <li class="projects__project position-relative">
                     <div
                        class="projects__project-preview position-xl-relative">
                        <picture class="w-100">
                           <img
                              src="../assets/images/thumbnail-project-5-large.webp"
                              alt="Memory Game preview"
                              class="w-100 h-100 object-fit-cover" />
                        </picture>
                        <div
                           class="projects__project-buttons d-flex position-absolute bottom-0 top-xl-0 area-xl-100 flex-xl-column justify-content-center align-items-center">
                           <a href="#" role="button" class="text-uppercase">
                              View Project
                           </a>
                           <a href="#" role="button" class="text-uppercase">
                              View Code
                           </a>
                        </div>
                     </div>
                     <h3 class="text-uppercase"><a href="#">Memory Game</a></h3>
                     <ul class="projects-project-skills-list d-flex">
                        <li class="projects-project-skill-name">HTML</li>
                        <li class="projects-project-skill-name">CSS</li>
                        <li class="projects-project-skill-name">JavaScript</li>
                     </ul>
                  </li>
                  <!-- Project -->
                  <li class="projects__project position-relative">
                     <div
                        class="projects__project-preview position-xl-relative">
                        <picture class="w-100">
                           <img
                              src="../assets/images/thumbnail-project-6-large.webp"
                              alt="Art Gallery Showcase preview"
                              class="w-100 h-100 object-fit-cover" />
                        </picture>
                        <div
                           class="projects__project-buttons d-flex position-absolute bottom-0 top-xl-0 area-xl-100 flex-xl-column justify-content-center align-items-center">
                           <a href="#" role="button" class="text-uppercase">
                              View Project
                           </a>
                           <a href="#" role="button" class="text-uppercase">
                              View Code
                           </a>
                        </div>
                     </div>
                     <h3 class="text-uppercase">
                        <a href="#">Art Gallery Showcase</a>
                     </h3>
                     <ul class="projects-project-skills-list d-flex">
                        <li class="projects-project-skill-name">HTML</li>
                        <li class="projects-project-skill-name">CSS</li>
                        <li class="projects-project-skill-name">JavaScript</li>
                     </ul>
                  </li>
               </ol>
            </div>
         </section>
      </main>
   </body>
</html>
